/*基本函数*/
.nom {
  margin: 0;
}
.nop {
  padding: 0;
}
.nob {
  border: 0 none;
}
/* config */
.search {
  width: 931.01736973px;
  margin-bottom: 17px;
}
.search .logo {
  width: 201.09975186px;
  padding-left: 0;
}
.search .logo .img {
  width: 199px;
  height: 41px;
}
.search form {
  width: 562.33449132px;
  padding-left: 25px;
}
.search .btn {
  float: right;
  font-size: 19px;
  margin: 0;
  margin-left: 10px;
  margin-top: 3px;
  padding: 5px 30px;
}
