@import url('gb.css');
/*基本函数*/
.nom {
  margin: 0;
}
.nop {
  padding: 0;
}
.nob {
  border: 0 none;
}
/* config */
.J_panel,
.help {
  display: none;
}
#main .title span.col {
  font-size: 21px;
  height: 41px;
  line-height: 41px;
  color: #2ea436;
  font-weight: bold;
  border-left: 4px solid #2ea436;
  margin-left: 16px;
  padding-left: 9px;
}
#main .uploade-nav {
  display: none;
  margin: 35px 0;
  width: 441.6px;
  height: 41.33333px;
}
#main .J_panel {
  padding: 5px;
  font-size: 15px;
}
#main .J_panel .title {
  color: #2ba337;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
#main .J_panel .row {
  margin: 14.5px 14.5px 0 0;
}
#main .J_panel .row .label {
  width: 86.89655172px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  color: #4d4f4e;
  font-family: bold;
}
#main .J_panel .row input,
#main .J_panel .row select,
#main .J_panel .row textarea {
  height: 30px;
  line-height: 30px;
  width: 506.89655172px;
  border: 1px solid #b3b3b3;
  padding: 0 5px;
}
#main .J_panel .row .contact-person {
  width: 128.27586207px;
}
#main .J_panel .row .contact-phone {
  width: 160.34482759px;
}
#main .J_panel .row .school,
#main .J_panel .row .city {
  width: 160.34482759px;
}
#main .J_panel .row .room-intro {
  height: 100px;
  margin-bottom: 30px;
}
#main .J_panel .row .price,
#main .J_panel .row .area {
  width: 136.55172414px;
}
#main .J_panel .row .hot-water,
#main .J_panel .row .network,
#main .J_panel .row .ac,
#main .J_panel .row .owner-type,
#main .J_panel .row .wc {
  height: 30px;
  line-height: 30px;
}
#main .J_panel .row .hot-water input,
#main .J_panel .row .network input,
#main .J_panel .row .ac input,
#main .J_panel .row .owner-type input,
#main .J_panel .row .wc input {
  height: 15px;
  line-height: 15px;
  width: 43.44827586px;
}
#main .J_panel .row .add {
  padding-left: 13px;
}
#main .J_panel .row .add span {
  float: left;
  height: 30px;
  line-height: 30px;
  color: #898989;
}
#main .J_panel .row .add span.xing {
  color: #e40011;
  font-weight: bold;
  padding-top: 3px;
  padding-right: 5px;
}
#main .J_panel .row .add span.warn {
  font-size: 12px;
  color: #ff0000;
  margin-left: 5px;
}
#main .J_panel .row .add.pic-add {
  margin-left: 70px;
}
#main .J_panel .row .choose {
  position: relative;
  padding: 6px 17px;
  color: #000000;
  background: #efefef;
  border: 1px solid #b4b4b4;
  cursor: pointer;
}
#main .J_panel .row .choose .file {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  zoom: 1;
  width: 96px;
  height: 32px;
  z-index: 1;
  top: 0px;
  left: 0px;
}
#main .J_panel .row .choose .file input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
}
#main .J_panel .row .content {
  width: 620.68965517px;
  height: 30px;
  line-height: 30px;
}
#main .J_panel .showImg img {
  width: 400px;
  height: 300px;
  margin: 26px 85px;
}
#main .J_panel .line {
  border-bottom: 1px dotted #b3b3b3;
  padding: 16px 0;
  margin-bottom: 25px;
}
#main .J_panel .form-btn {
  padding: 9px;
  border: 1px solid #000000;
  font-size: 18px;
  color: #ffffff;
  margin: 48px 0;
  background: #f39801;
  font-family: bold;
  display: inline-block;
}
#main .J_panel .add-picture {
  display: block;
  font-size: 16px;
  center-align: left;
  margin-top: 20px;
}
#main .J_panel .add-picture a {
  color: #2f3332;
  padding-bottom: 2px;
  border-bottom: 2px solid #7f7f7f;
}
#main .J_panel .form-return {
  color: #f29700;
  font-size: 20px;
  margin-left: 40px;
  background: none;
  border: none;
}
#main .completed {
  margin-top: 20px;
}
#main .completed h3 {
  background: url("../../images/uploade/uploade-complete.png") no-repeat top left;
  height: 60px;
  line-height: 60px;
  padding-left: 65px;
  font-size: 23px;
  color: #e95412;
}
#main .completed ul {
  margin-bottom: 41px;
}
#main .completed ul li {
  margin: 15px;
  font-size: 15px;
}
#main .completed .completed_btn {
  background: #efefef;
  padding: 7px 25px;
  border: 1px solid #b5b5b5;
  margin-left: 35px;
  font-size: 15px;
}
#main .help h3 {
  background: url("../../images/uploade/uploade-help-title.png") no-repeat top left;
  height: 55px;
  line-height: 55px;
  font-size: 18px;
  color: #828282;
  font-weight: bold;
  padding-left: 9px;
}
#main .help h3 .tip {
  font-size: 14px;
  font-weight: normal;
}
#main .help ul {
  margin-left: 7px;
  background: url("../../images/uploade/uploade-help-body.png") repeat-y top left;
  width: 100%;
  padding-top: 10px;
}
#main .help ul li {
  position: relative;
  font-size: 13px;
  line-height: 24px;
  padding-left: 35px;
  width: 207px;
  color: #090504;
  margin-bottom: 15px;
}
#main .help ul li .num {
  position: absolute;
  left: 11px;
}
